# eclipse
#bin
*.launch
.settings
.metadata
.classpath
.project

# gradle
#build
#.gradle

# other
eclipse
#run
.DS_Store

# Files from Forge MDK
forge*changelog.txt
/.gradle/
/build/
run/
.gradle/
/src/main/resources/assets/celestialexploration/textures/block/OG_textures/
